<div id="admin_navigation">
  <ul>
    <li><%= link_to "New Category" , new_category_path %></li>
    <li><%= link_to "All Categories" , categories_path %></li>
    <li><%= link_to "New Product" , new_product_path %></li>
    <li><%= link_to "All Products" , products_path %></li>
  </ul>  
</div>